* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}
html,
body {
  font-size: 18px;
  font-family: Lato, sans-serif;
}

/* TEXT USER SELECT */
::selection {
  background-color: #b15aaa;
}

/* LOGO START */
.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(4px 5px 1em #000);
}
/* .logo.tk:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/* LOGO END */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.main__container {
  min-height: 37.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

h1 {
  line-height: 1.1;
  max-width: 58.75rem;
  font-weight: 700;
  margin: 2.5rem 0;
  min-width: 100%;
  /* font-size: 2.5em; */
  font-size: clamp(2em, 3vw, 5em);
  text-align: center;
  color: #ededed;
}