:root {
  --background-color-light:#F5F6F7;
  --background-color-dark:#1B1B32;
  --background-color-dark-alt:rgb(24 107 112);
  --text-color-light:rgb(245, 246, 247);
  --text-color-dark:rgb(27, 27, 50);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: system light dark;
  color: var(--text-color-light);
  background: radial-gradient(
    circle,
    var(--background-color-dark-alt)10%,
    var(--background-color-dark) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
*/
@media (prefers-color-scheme: light) {
  :root {
    color: var(--background-color-dark);
    /* background-color: var(--background-color-light); */
    background: radial-gradient(
    circle,
    rgb(85, 230, 240) 10%,
    rgb(16, 46, 51) 100%
  );
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 